@import url('https://fonts.googleapis.com/css?family=Bad+Script');
/*@import "caraguagosto/assets/css/fontawesome-all";*/
body{
	background: url('../img/food.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height : 100vh;
  width : 100%;
  keyboard :100vh;
  background-attachment: fixed;
  /*overflow: hidden;*/
}

.card-body{

}
.input-group-addon{
	padding: 10px;
}

.navbar{
	background-color: rgba(52, 73, 94,0.8) !important;
	color: white !important;
}

.navbar-brand{
  font-family: 'Bad Script', cursive;
}

.navbar-dark .navbar-toggler{
	border: none;
}

button:focus{
	outline: 5px auto transparent;
}

select.form-control:not([size]):not([multiple]){
	height: auto;
}

.shadow{
	background-color: rgba(255,255,255, 0.8);
	box-shadow: 0 10px 10px 0px rgba(0,0,0, 0.1);
	/*border: 2px solid white;*/
}
body{
	/*background: url('../img/fundo.jpg');
	background-size: width ;
	background-repeat: no-repeat;
	background-position: center;*/
	background-color: #ecf0f1;
}

#conteudo{-webkit-margin-top: 20%; -moz-margin-top: 50px; margin-top: 20%;}


.input-group-addon{
	background-color: rgba(149, 165, 166, 0.2)
}

.btn-success {
    color: #28a745;
    background-color: white;
    border-color: #28a745;
}

.card{
	background-color: rgba(255,255,255,0.8);
}

.card-header{
	background-color: rgba(255,255,255,0.3);
}


/*CUSTOM CHECKBOX*/

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.switch input {
  display: none;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 40px;
}
.switch .slider::before {
  position: absolute;
  content: "";
  height: calc( 20px - (2px * 2));
  width: calc( 20px - (2px * 2));
  left: 4px;
  top: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch .slider::before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4a89d6;
}
input:checked + .slider::before {
  -webkit-transform: translateX(calc( 40px - 20px  ));
  -ms-transform: translateX(calc( 40px - 20px ));
  transform: translateX(calc( 40px - 20px ));
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

/*.nav-link i{
  font-size: 30px;
}*/
.nav-link{
  /*font-size: 10px;*/
  outline: none;
}

.nav-link.active{
  background-color: rgba(52, 73, 94, 0.9) !important;
}

.nav-item a{
  color: rgba(52, 73, 94, 1) ;
}

.error-icon::before{
  font-family: "Font Awesome 5 Free";
  content: "\f12a";
  color: #e74c3c; 
}

.success-icon::before{
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  color: #2ecc71; 
}
