.input-group-addon{
	padding: 10px;
}

.navbar{
	background-color: rgba(52, 73, 94,1.0) !important;
	color: white !important;
}

.navbar-dark .navbar-toggler{
	border: none;
}

button:focus{
	outline: 5px auto transparent;
}

select.form-control:not([size]):not([multiple]){
	height: auto;
}

.shadow{
	background-color: rgba(255,255,255, 1);
	box-shadow: 0 10px 10px 0px rgba(0,0,0, 0.1);
	border: 2px solid white;
}
body{
	/*background: url('../img/fundo.jpg');
	background-size: width ;
	background-repeat: no-repeat;
	background-position: center;*/
	background-color: #ecf0f1;
}

#conteudo{-webkit-margin-top: 20%; -moz-margin-top: 50px; margin-top: 20%;}

#ls_query{
	border-radius: 0;
	margin-left: 3px;
	width: 100% !important;
	border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.input-group-addon{
	background-color: rgba(149, 165, 166, 0.2)
}

.btn-success {
    color: #28a745;
    background-color: white;
    border-color: #28a745;
}

.ls_container{
	width: 90%;
}